<div class="Container about">

    <div
      class="container-fluid typeahead-demo">

      <div class="row">
        <div class="col-xs-3">
          <div class="btn-group btn-group-block" uib-dropdown keyboard-nav>
            <button
              id="simple-btn-keyboard-nav"
              type="button"
              class="btn btn-xs btn-default btn-block"
              uib-dropdown-toggle>
                YAML Examples <span class="caret"></span>
            </button>
            <ul
              class="dropdown-menu btn-group-menu-block"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="simple-btn-keyboard-nav">

              <li ng-repeat="e in aboutCtrl.examplesYAML" role="menuitem">
                <a ng-click="aboutCtrl.loadSourceYAMLItem(e.file, e.title, e.url)" href="">
                  {{e.title}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-group input-group-sm">
            <input
              ng-model="aboutCtrl.YAMLURL"
              type="text"
              class="form-control input-group-xs"
              placeholder="Enter a URL to a CSV/TSV file"
              aria-describedby="import-url">

            <span class="input-group-btn">
              <button
                type="button"
                ng-disabled="aboutCtrl.YAMLURL.length === 0"
                class="btn btn-success btn-xs btn-block input-group-button-xs"
                ng-click="aboutCtrl.loadURLYAML(aboutCtrl.YAMLURL)">
                Load
              </button>
            </span>
          </div>
        </div>
        <div class="col-xs-3">
          <div
            ngf-drop
            ngf-select
            ng-model="aboutCtrl.fileYAML"
            class="drop-box"
            ngf-drag-over-class="'dragover'"
            ngf-multiple="false"
            ngf-allow-dir="false"
            accept=".yaml,.YAML"
            ngf-pattern="'.yaml,.YAML'">
            <i style="font-size:0.8em;">Select/Drag YAML file</i></sm>
          </div>
          <div ngf-no-file-drop>
            File Drag/Drop is not supported for this browser
          </div>
        </div>
      </div>

      <div class="row" ng-hide="!aboutCtrl.sourceYAML">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-xs btn-primary btn-block"
            ng-model="aboutCtrl.showYAMLSource"
            uib-btn-checkbox>
            <span class="pull-left glyphicon"
              ng-class="aboutCtrl.showYAMLSource ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"
              aria-hidden="true">
            </span>
            Source YAML: <b>{{aboutCtrl.titleYAML}}</b>
          </button>

          <div
            class="pre-scrollable"
            ng-if="aboutCtrl.showYAMLSource">
            <pre><code>{{aboutCtrl.sourceYAML}}</code></pre>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="!aboutCtrl.sourceYAML">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-xs btn-primary btn-block"
            ng-model="aboutCtrl.showYAMLParsed"
            uib-btn-checkbox>
            <span class="pull-left glyphicon"
              ng-class="aboutCtrl.showYAMLParsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"
              aria-hidden="true">
            </span>
            Parsed YAML: <b>{{aboutCtrl.titleYAML}}</b>
          </button>


          <div
            ng-hide="!aboutCtrl.showYAMLParsed">
            <div
              id="YAMLParsed"
              class="table-container YAMLParsed">
              <json-formatter json="aboutCtrl.parsedYAML" open="2">
              </json-formatter>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="aboutCtrl.errorMessageYAML">
        <div class="col-xs-12">
          <pre>{{aboutCtrl.errorMessageYAML}}</pre>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <div class="btn-group btn-group-block" uib-dropdown keyboard-nav>
            <button
              id="simple-btn-keyboard-nav"
              type="button"
              class="btn btn-xs btn-default btn-block"
              uib-dropdown-toggle>
                XSV Examples <span class="caret"></span>
            </button>
            <ul
              class="dropdown-menu btn-group-menu-block"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="simple-btn-keyboard-nav">

              <li ng-repeat="e in aboutCtrl.examplesXSV" role="menuitem">
                <a ng-click="aboutCtrl.loadSourceXSVItem(e.file, e.title, e.url)" href="">
                  {{e.title}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-group input-group-sm">
            <input
              ng-model="aboutCtrl.XSVURL"
              type="text"
              class="form-control input-group-xs"
              placeholder="Enter a URL to a CSV/TSV file"
              aria-describedby="import-url">

            <span class="input-group-btn">
              <button
                type="button"
                ng-disabled="aboutCtrl.XSVURL.length === 0"
                class="btn btn-success btn-xs btn-block input-group-button-xs"
                ng-click="aboutCtrl.loadURLXSV(aboutCtrl.XSVURL)">
                Load
              </button>
            </span>
          </div>
        </div>
        <div class="col-xs-3">
          <div
            ngf-drop
            ngf-select
            ng-model="aboutCtrl.fileXSV"
            class="drop-box"
            ngf-drag-over-class="'dragover'"
            ngf-multiple="false"
            ngf-allow-dir="false"
            accept=".yaml,.XSV"
            ngf-pattern="'.yaml,.XSV'">
            <i style="font-size:0.8em;">Select/Drag XSV file</i></sm>
          </div>
          <div ngf-no-file-drop>
            File Drag/Drop is not supported for this browser
          </div>
        </div>
      </div>

      <div class="row" ng-hide="!aboutCtrl.sourceXSV">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-xs btn-primary btn-block"
            ng-model="aboutCtrl.showXSVSource"
            uib-btn-checkbox>
            <span class="pull-left glyphicon"
              ng-class="aboutCtrl.showXSVSource ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"
              aria-hidden="true">
            </span>
            Source XSV: <b>{{aboutCtrl.titleXSV}}</b>
          </button>

          <div
            class="pre-scrollable"
            ng-if="aboutCtrl.showXSVSource">
            <pre><code>{{aboutCtrl.sourceXSV}}</code></pre>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="!aboutCtrl.sourceXSV">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-xs btn-primary btn-block"
            ng-model="aboutCtrl.showXSVParsed"
            uib-btn-checkbox>
            <span class="pull-left glyphicon"
              ng-class="aboutCtrl.showXSVParsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"
              aria-hidden="true">
            </span>
            Parsed XSV: <b>{{aboutCtrl.titleXSV}}</b>
          </button>

          <div
            ng-hide="!aboutCtrl.showXSVParsed">
            <div
              id="XSVParsed"
              class="table-container XSVParsed">
              <json-formatter json="aboutCtrl.parsedXSV" open="2">
              </json-formatter>
            </div>
          </div>

          <br>

          <div class="col-xs-12">
            <div
              id="grid1"
              ui-grid="aboutCtrl.gridOptions"
              ui-grid-edit
              ui-grid-cellNav
              ui-grid-resize-columns
              ui-grid-auto-resize
              class="grid"
              style="margin:0;padding:0;">
            </div>
          </div>

          <h6>
            <strong>Last Cell Edited:</strong> {{aboutCtrl.lastCellEdited}}
            {{aboutCtrl.gridApi.cellNav.getFocusedCell().row.entity[aboutCtrl.gridApi.cellNav.getFocusedCell().col.colDef.name]}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{aboutCtrl.gridApi.cellNav.getFocusedCell().col.colDef.name}}
          </h6>

        </div>
      </div>

      <div class="row" ng-if="aboutCtrl.errorMessageXSV">
        <div class="col-xs-12">
          <pre>{{aboutCtrl.errorMessageXSV}}</pre>
        </div>
      </div>

      <hr>
      <hr>
      <hr>
      <hr>

      <footer class="navbar-default navbar-fixed-bottom">
        <div class="container">
          <br>
          <div class="footer row">
            <div class="col-xs-2">
              <a
                type="button"
                target="_blank"
                ng-click="aboutCtrl.exportCSV()"
                class="btn btn-xs btn-success btn-block">
                <i class="glyphicon glyphicon-save-file"></i>
                Export CSV
              </a>
            </div>
            <div class="col-xs-2">
              <a
                type="button"
                target="_blank"
                ng-click="aboutCtrl.exportTSV()"
                class="btn btn-xs btn-success btn-block">
                <i class="glyphicon glyphicon-save-file"></i>
                Export TSV
              </a>
            </div>
            <div class="col-xs-6">
              <hr>
            </div>
            <div class="col-xs-2">
              <a
                type="button"
                href="https://github.com/INCATools/intelligent-concept-assistant"
                target="_blank"
                class="btn btn-xs btn-info btn-block">
                <i class="glyphicon glyphicon-question-sign"></i>
                Help
              </a>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <script type="text/ng-template" id="cellStateTemplate">
      <div class="ui-grid-cell-contents table-editor-default-cell">
        {{grid.getCellValue(row, col)}}
      </div>
    </script>

    <script type="text/ng-template" id="cellStateReadonlyTemplate">
      <div class="ui-grid-cell-contents" >
        <i>{{grid.getCellValue(row, col)}}</i>
      </div>
    </script>

    <script type="text/ng-template" id="cellStateEditableTemplate">
      <div
        class="ui-grid-cell-contents table-editor-default-cell"
        title="TOOLTIP">
        {{COL_FIELD CUSTOM_FILTERS}}
      </div>
    </script>

    <script type="text/ng-template" id="cellStateAutocompleteTemplate">
      <div class="typeaheadcontainer">
      <input
        type="text"
        ng-model="MODEL_COL_FIELD"
        uib-typeahead="term as term.label[0] for term in grid.appScope.getTerm($viewValue)"
        typeahead-append-to-body="true"
        append-to-body="true"
        typeahead-loading="loadingLocations"
        typeahead-no-results="noResults"
        typeahead-on-select="grid.appScope.termSelected($item, $model, $label, $event)"
        class="typeaheadcontrol form-control">
      <i style="xbackground:pink;position:absolute;z-index:100;" ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div style="background:lightyellow;position:absolute;z-index:100;" ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
      </div>
    </script>


</div>
